@page "/"
@implements IDisposable
@inject IClock Clock

<PageTitle>Index</PageTitle>

<h1>Добро пожаловать в интернет магазин Razbat</h1>
<div>Текущее время: @_currentTime.ToLongTimeString()</div>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
@code {
    private DateTime _currentTime = DateTime.Now;

    private CancellationTokenSource _cts = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _ = StartTimer();
    }

    private async Task StartTimer()
    {

        using (PeriodicTimer timer = new(TimeSpan.FromSeconds(1)))
        {
            try
            {
                while (await timer.WaitForNextTickAsync(_cts.Token))
                {
                    _currentTime = Clock.GetClock();
                    StateHasChanged();
                }
            }
            catch (OperationCanceledException)
            {
                return;
            }
        }
    }
    public void Dispose()
    {
        _cts.Cancel();
    }
}